/* Global */
body {
    background-color:white;
}
.middle {
    width: 50%;
    margin: auto;
}

.loading {
    margin: auto;
}


/* CARD CSS*/

.card-font {
    font-size: 1.2em;
}
.card-footer {
    padding: 0;
    display: inline-block;
}

/*Home*/
.jumbo {
    height: 100vh;
    width: 100%;
    background-image: url('../images/showcase.jpg');
    background-position: center;
    position: absolute; 
}

.jumbotron {
    width: 50%;
    margin-top: 3rem;
    background-color: rgba(144, 164, 174, 0.2);
}
.welcome-text {
    color: white;
}

.welcome-title {
    color: rgba(255,255,255,0.6)
}

/*Register*/

.register {
    background-image: linear-gradient(#607D8B,#CFD8DC);
    height: 100vh;
}

.reg {
    background-color:  #ECEFF1;

}
/*Login*/
.login {
    background-image: linear-gradient(#E3F2FD,#E0E0E0);
    height: 100vh;
}
.log {
    background-color: #ECEFF1;
}
/* User page */
.page {
    background-color: #ECEFF1;
    height: 100vh;
}
.userpost{
    background-color: #ECEFF1
}
/* Card css */
.card {
    transition: all 500ms ease-in;
}
.card:hover {
    border: 1px solid black;

}
.text-muted {
    font-size: 10px;
}

.card-text {
    font-size: 1.5rem;
}

/* Comment */
.comment {
    border-bottom: 1px solid black;
}
.comment-box {
    transition: all 300ms ease-out;
}

/* Note */
.note-container {
    width: 100%;
    background-color: rgba(238,238,238,0.5);
}
.user-link {
    font-weight: bolder;
    color: black;
    transition: all 500ms ease-in;
}
.user-link:hover {
    color: black;
    font-size: larger;
}
/* Search */

.search-link {
    color: black;
    transition: all 500ms ease-in;
}
.search-link:hover {
    font-size: larger;
    border-bottom: 1px black solid;
}
